* {
    margin: 0;
    padding: 0;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    background-color: #252A35;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#lydzje {
    font-size: 72px;
    border-bottom: 2px solid gradient;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#line {
    width: 0%;
    height: 2px;
    margin: auto;
    background-image: linear-gradient(to right, #EE7752, #E73C7E, #23A6D5, #23D5AB, #23A6D5, #E73C7E, #EE7752);
    background-size: 600% 600%;
    background-position: center center;
    opacity: 0;
    -webkit-animation: line-gradient 4s linear infinite;
    animation: line-gradient 4s linear infinite;
    -webkit-transition: all 1s;
    transition: all 1s;
}

@-webkit-keyframes line-gradient {
    from {
	background-position: 0% 0%;
    }
    to {
	background-position: 100% 0%;
    }
}

@keyframes line-gradient {
    from {
	background-position: 0% 0%;
    }
    to {
	background-position: 100% 0%;
    }
}

#buttons {
    display: flex;
    margin: 10vh 0;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    padding: 10px;
    margin: 20px 30px;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.button:hover {
    padding: 15px;
    margin: 15px 25px;
    border-color: white;
    color: white;
}

.button i {
    margin-right: 10px;
    font-size: 20px;    
}

.portfolio {
    border-color: #EE7752;
    color: #EE7752;
}

.about-me {
    border-color: #E73C7E;
    color: #E73C7E;
}

.contact {
    border-color: #24A6D5;
    color: #24A6D5;
}


/* RESPONSIVE DESIGN */
/* ================= */
/* TODO: Mobile first */
@media only screen and (max-width: 768px) {
    #buttons {
	flex-direction: column;
    }
}
